# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
COST_OPTIMIZATION.md
GROQ_SETUP.md
QUICK_REFERENCE.md
.md
OLLAMA_INTEGRATION.md
PERPLEXITY_OLLAMA_HYBRID.md

# Generated Excel files
/public/exports/balance-sheets/*.xlsx

.cache/pdfs/KRBL-FY2026.txt
.cache/pdfs/ADVENZYMES-FY2026.txt
.cache/pdfs/MRF-FY2026.txt
.cache/pdfs/RELIANCE-FY2026.txt
.cache/pdfs/RELIANCE-FY2026.txt
.cache/pdfs/ASIANPAINT-FY2026.txt
.cache/pdfs/IRCTC-FY2026.txt
.cache/pdfs/JAYAGROGN-FY2026.txt
.cache/pdfs/TECHM-FY2026.txt
.cache/pdfs/TMPV-FY2026.txt
.cache/pdfs/ZYDUSLIFE-FY2026.txt
release/AI Stock Analyzer 1.0.0.exe
release/AI Stock Analyzer Setup 1.0.0.exe
release/AI Stock Analyzer Setup 1.0.0.exe.blockmap
release/aisearchengine-1.0.0-x64.nsis.7z
release/builder-debug.yml
release/builder-effective-config.yaml
release/latest.yml
release/win-unpacked/AI Stock Analyzer.exe
release/win-unpacked/chrome_100_percent.pak
release/win-unpacked/chrome_200_percent.pak
release/win-unpacked/d3dcompiler_47.dll
release/win-unpacked/dxcompiler.dll
release/win-unpacked/dxil.dll
release/win-unpacked/ffmpeg.dll
release/win-unpacked/icudtl.dat
release/win-unpacked/libEGL.dll
release/win-unpacked/libGLESv2.dll
release/win-unpacked/LICENSE.electron.txt
release/win-unpacked/LICENSES.chromium.html
release/win-unpacked/resources.pak
release/win-unpacked/locales/af.pak
release/win-unpacked/locales/am.pak
release/win-unpacked/locales/ar.pak
release/win-unpacked/locales/bg.pak
release/win-unpacked/locales/bn.pak
release/win-unpacked/locales/ca.pak
release/win-unpacked/locales/cs.pak
release/win-unpacked/locales/da.pak
release/win-unpacked/locales/de.pak
release/win-unpacked/locales/el.pak
release/win-unpacked/locales/en-GB.pak
release/win-unpacked/locales/en-US.pak
release/win-unpacked/locales/es-419.pak
release/win-unpacked/locales/es.pak
release/win-unpacked/locales/et.pak
release/win-unpacked/locales/fa.pak
release/win-unpacked/locales/fi.pak
release/win-unpacked/locales/fil.pak
release/win-unpacked/locales/fr.pak
release/win-unpacked/locales/gu.pak
release/win-unpacked/locales/he.pak
release/win-unpacked/locales/hi.pak
release/win-unpacked/locales/hr.pak
